.note-panel
{
    text-align: left;
    width: 96%;
    margin: 1em 2% 0 2%;
    border-bottom: 2px solid silver;

}
.note-panel a.new-note
{
    font-weight: bold;
    /*font-size: 1.2em;*/
    color: firebrick;
    margin-right: 2em;

}
.note-panel a.new-note img
{
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
    border-radius: 0.6em;
}
.note-panel a.view-mode
{
    display: inline-block;
    padding: 0.3em;
    vertical-align: middle;
}
.note-panel a.view-mode img
{
    height: 1.6em;
    width: 1.6em;
    border-radius: 0.3em;
    border: 2px solid gray;
}
.note-panel a.view-mode.active img
{
    box-shadow: 5px -5px 5px rgba(80,90,100,0.5);
}
.note-panel a.edit-mode
{
    display: inline-block;
    padding: 0.3em;
    vertical-align: middle;
}
.note-panel a.edit-mode img
{
    border: 2px solid gray;
    height: 1.6em;
    width: 1.6em;
    border-radius: 0.3em;
}
.note-panel a.edit-mode.active {

}
.note-panel a.edit-mode.active img
{
    border: 2px solid green;
    display: inline-block;
    box-shadow: 5px -5px 5px rgba(80,90,100,0.5);
}

.note-panel .np-new
{
    display: inline-block;
    width: 25%;
}
.note-panel .np-forward
{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.note-panel .np-mode
{
    text-align: right;
    display: inline-block;
    width: 25%;
}
.note-panel .np-forward img
{
    vertical-align: middle;
    height: 2em;
    width: 2em;
}
.note-panel span.notes-count
{
    font-weight: bold;
    background-color: darkorange;
    color: darkgreen;
    vertical-align: middle;
    padding: 0.2em;
    margin: 0.2em;
}


form.note-form
{
    width: 96%;
    margin: 1em 2% 0 2%;
    border: 1px solid silver;
}

.tags-block
{
    display: inline-block;
    width: 70%;
    border-right: 1px solid black;
    text-align: left;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

}

.tags-block .tags-list{
    display: inline-block;
}
.tags-block .tags-list .note-tag{
    font-weight: bold;
    display: inline-block;
    padding: 0.1em;
    margin: 0 0.2em;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 0.2em;
}
.tags-block .tags-list .note-tag span.tag-text{
    display: inline-block;
}
.tags-block .tags-list .note-tag span.tag-del{
     display: inline-block;
    color: red;
    cursor: pointer;
 }


.note-date
{
    text-align: right;
    display: inline-block;
    width: 29%;
}
.note-date input[type='text']
{
    text-align: right;
    font-size: 0.7em;
    border: none;
    color: darkslateblue;
    font-weight: bold;
}
form.note-form .submit-line
{
    width: 100%;
    text-align: right;
}
form.note-form .note-date input[type='submit']
{
    font-size: 1.2em;
    font-weight: bold;
}

.note-view{
    width: 96%;
    margin: 0 2% 0 2%;
}
.view-note-content{
    border: 2px solid silver;
    text-align: left;
    padding: 0.2em;
    background-color: whitesmoke;
}