RewriteEngine on
RewriteBase /

RewriteRule ^__config(.*)$ ?errType=access&message=denied-in-htaccess
RewriteRule ^__jointconf(.*)$ ?errType=access&message=denied-in-htaccess

#protect database uploaded files
RewriteRule ^usrdata/db(.*)$ ?errType=access&message=denied-in-htaccess-for-db

RewriteCond %{REQUEST_FILENAME} !-f

DirectoryIndex index.php
RewriteRule . index.php [L]