section.js-title{

}

section.js-title h2{
    font-size: 1.2em;
    text-decoration: underline;
    color: midnightblue;
}

.js-about{
    width: 97%;
    margin: 1em 1%;
}
.js-about p{
    text-align: center;
    background-color: lightgray;
    border: 1px solid darkgreen;
    color: midnightblue;
    padding-top: 1em;
    padding-bottom: 1em;
}

.js-download{
    display: table;
    width: 97%;
    margin: 1em 1%;
}
.js-download-row{
    display: table-row;
}

.js-download-image{
    vert-align: middle;
    display: table-cell;
    width: 20%;
    border: 1px solid gray;
    background-color: gray;
}

.js-download-image img{
    vertical-align: middle;
    width: 2em;
}

.js-download-git{
    vertical-align: middle;
    display: table-cell;
    width: 40%;
    border: 1px solid gray;
    background-color: darkgreen;
}

.js-download-docker{
    vertical-align: middle;
    display: table-cell;
    width: 40%;
    border: 1px solid gray;
    background: navy;
}

.js-download-docker a, .js-download-git a{
    color: lightcyan;
}

.js-version{
    width: 97%;
    margin: 1em 1%;
    border: 1px solid gray;
}

.js-version .js-version-title{
    border-bottom: 1px solid gray;
}

.js-version .js-version-line{
    width: 100%;
    border: 1px solid red;
}

.js-version .js-version-line .js-versions-softType{
    display: inline-block;
    width: 20%;
    border-right: 1px solid green;
}

.js-version .js-version-line .js-versions-softV{
    display: inline-block;
    width: 40%;
    border-right: 1px solid green;
}

.js-version .js-version-line .js-versions-components{
    display: inline-block;
    width: 39%;
    border-right: 1px solid green;
}

.contents-tbl{

}

.contents-tbl h2{
    font-size: 1.2em;
    text-decoration: underline;
    color: midnightblue;
}

.contents-tbl h3{
    font-size: 1.2em;
    text-decoration: underline;
    color: midnightblue;
}

.contents-tbl ul li{
    text-align: left;
}