footer {

}

footer .ft-service{

}

footer .ft-right{

}

footer .ft-right img{
    height: 1.2em;
    width: 1.2em;
    margin: 0.2em;
}

footer .ft-right img{
    height: 1.2em;
    width: 1.2em;
    margin: 0.2em;
}

footer .ft-right span{
    cursor: pointer;
}