.upd-stat {
    width: 100%;
    text-align: left;
}
span.stat-lbl{
    font-weight: bold;
}
span.stat-val{
    font-size: 1.1em;
    text-decoration: underline;
    margin-left: 0.2em;
    margin-right: 1em;
}
.map-lines{
    text-align: left;
}
.map-lines .line-num{
    display: inline-block;
    width: 10%;
}
.map-lines .line-text{
    display: inline-block;
    width: 90%;
}
.map-lines .line-text url{

}

.map-lines .line-text loc{
    width: 60%;
    display: inline-block;
}
.map-lines .line-text lastmod{
    width: 10%;
    display: inline-block;
}
.map-lines .line-text changefreq{
    width: 10%;
    display: inline-block;
}
.map-lines .line-text priority{
    width: 10%;
    display: inline-block;
}