.modal-line-user-info{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 1em;
}

.modal-line-user-info img{
    height: 1.5em;
    width: 1.5em;
    right: 1em;
}
.modal-line-img.captcha img{
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}