RewriteEngine on
RewriteBase /
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://rightjoint.ru/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
DirectoryIndex index.php
RewriteRule . index.php [L]
php_value upload_max_filesize 10M
php_value post_max_size 10M